.report-header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #DCE5E9;
  background-color: var(--body-bg);
}

/*** REPORT BODY***/
section.report {
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
}

main.report-container {
  scroll-behavior: smooth;
  overflow-y: auto;
  padding-left: 82px;
  padding-right: 82px;
  gap: calc(var(--spacing) * 4);
  background-color: var(--body-bg);
  scroll-padding-top: 100px;
}

section>#report:only-child {
 grid-column: 1/3;
}
