.report-piece {
  gap: calc(var(--spacing) * 3);
}

.report-piece .query h3 {
  background-color: var(--body-bg);
  padding: 0px 0px;
  margin-bottom: 0;
}

.report-piece .query input[type="checkbox"] {
  display: none;
}

.report-piece .query h3 label {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  cursor: pointer;
}

.report-piece .query h3 label span {
  border-bottom: 2px solid var(--border-divider);
  width: 100%;
}

.report-piece .query {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.report-piece .query pre {
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 2);
  margin-top: 0px;
  margin-bottom: 24px;
  border: none;
  border-radius: 4px;
}

.report-piece .query .code-block {
  max-height: fit-content;
  padding: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  position: relative;
  margin-top: 0;
}

.report-piece .query input[type="checkbox"]:checked ~ .code-block {
  max-height: 0;
  overflow-y: hidden;
  padding: 0 24px;
}
.report-piece .query h3 label div.arrow {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--border-divider);
  padding: calc(var(--spacing) * 2) var(--spacing);
}

.report-piece .query h3 label div img {
  transition: all 0.35s ease-in-out;
  transform: rotate(0deg);
}

.report-piece .query input[type="checkbox"]:checked ~ h3 label div img {
  transform: rotate(180deg);
}
