nav.sidemenu {
  background-color: var(--brand-bg-soft);
  color: #ededed;
  overflow-y: auto;
  width: 336px;
  transition: width 0.5s;
  box-shadow: 2px 0px 8px rgba(120, 125, 147, 0.15);
}

.sidemenu ul {
  list-style: none;
  padding-inline-start: calc(var(--spacing) * 2);
}

.sidemenu > div:nth-child(1) {
  height: 48px;
}

.icon {
  transition: transform 0.4s ease;
}

.sidemenu-item,
#logo-container * {
  overflow: hidden;
  white-space: nowrap;
}

#logo-container {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 56px;
  max-height: 56px;
}

#logo-container > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -8px;
}

#logo-container > h6 {
  grid-column: 2;
  margin-left: auto;
  text-align: end;
}

#logo-container > div:nth-child(1) > img {
  width: auto;
  height: auto;
}

#logo-container h1,
h6 {
  color: var(--title);
}

.sidemenu-item:hover {
  background-color: var(--brand-bg-soft-hover);
}

.sidemenu-item a {
  text-decoration: none;
  color: var(--content);
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidemenu-item a span.active {
  color: var(--brand-bg);
}

.sidemenu-item > a > span:only-child {
  margin-left: 48px;
}

.sidemenu-item > .collapsible {
  scale: 0.6;
}

nav.collapsed-sidemenu > ul,
nav.collapsed-sidemenu > #logo-container > *:not(div:nth-child(3)),
nav.collapsed-sidemenu > .sidemenu-item {
  display: none;
}

.collapsed-sidemenu {
  width: 80px !important;
  padding: calc(var(--spacing) * 2) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sapcing);
}
