.report-piece .results table {
  width: 100%;
}

.report-piece .results table thead {
  background-color: var(--body-alt-bg);
}

.report-piece .results table tbody {
  vertical-align: text-top;
}

.report-piece .results table tbody td,
th {
  padding: 8px 16px;
}

.report-piece .results table tbody td a:hover {
  color: #cd994e;
}

td:first-child,
th:first-child {
  border-radius: 4px 0 0 4px;
}

td:last-child,
th:last-child {
  border-radius: 0 4px 4px 0;
}

.report-piece .results table tbody > tr td {
  font-family: var(--body-font);
  font-size: var(--small-text-size);
  line-height: var(--normal-line-height);
  font-weight: 400;
}

.report-piece .results table tbody > tr th {
  font-family: var(--body-font);
  font-size: var(--small-text-size);
  line-height: var(--normal-line-height);
  font-weight: 500;
}

.report-piece .results table tbody td.multiple-values {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.report-piece .results table tbody > tr:nth-child(even) {
  background-color: var(--body-alt-bg);
}

.dataTables_info {
  display: none;
}

.dt-buttons {
  margin: 16px 0;
}

.dt-buttons button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--btn-blue);
}

.dt-buttons button:hover {
  background-color: var(--btn-blue-hover);
}

.dt-buttons button span {
  font-family: var(--body-font);
  font-size: var(--small-text-size);
  line-height: var(--normal-line-height);
  font-weight: 500;
  color: #ffffff;
}

.dt-buttons button:nth-child(1) {
  background-color: var(--btn-lavander);
}

.dt-buttons button:nth-child(1):hover {
  background-color: var(--btn-lavander-hover);
}

.dt-buttons button:nth-child(2) {
  background-color: var(--btn-orange);
}

.dt-buttons button:nth-child(2):hover {
  background-color: var(--btn-orange-hover);
}
