<!-- livebook:{"autosave_interval_s":30} -->

# Archeometer - Index

```elixir
Mix.install([
  {:memoize, "~> 1.4"},
  {:archeometer, git: "git@gitlab.com:MachinesAreUs/archeometer.git"},
  {:httpoison, "~> 2.0"},
  {:kino, "~> 0.9.4"},
  {:kino_vega_lite, "~> 0.1.9"}
])

# This function transforms an Archeometer's Query.Result into a Kino's DataTable
#
to_data_table = fn result ->
  Enum.zip(result.headers, Enum.zip(result.rows) |> Enum.map(&Tuple.to_list(&1)))
  |> Kino.DataTable.new()
end
```

## Setup

In order to use the full **Archeometer** toolkit, we need some aliases and imports

```elixir
alias Archeometer.Schema.{App, AppXRef, Module, Function, XRef, Behaviour}
alias Archeometer.Analysis.{DSM, Treemap, Clustering}
alias Archeometer.Analysis.Xref, as: XRefAnalysis
alias Archeometer.Analysis.Apps.Xref, as: AppXRefAnalysis
alias Archeometer.Graphs.Graphviz
alias Archeometer.Repo
import Archeometer.Query
```

Let's define the location of the database for our analysis

```elixir
db = "<%= db %>"
Application.put_env(:archeometer, :default_db, db)
```

## Project structure

List of application, their size (measured in lines of code) and their module count.

```elixir
Repo.all(
  from a in App,
    select: [
      name: a.name,
      num_mods: count(a.modules.id),
      num_lines: sum(a.modules.num_lines),
      num_ecto_schemas: sum(a.modules.has_ecto_schema)
    ],
    group_by: a.name,
    order_by: [desc: num_mods]
)
|> then(&to_data_table.(&1))
```

Dependency graph between applications.

```elixir
AppXRefAnalysis.gen_graph("svg")
```
